*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barriecito';
    color: orange;
}

.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: lightgoldenrodyellow;
}

#header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.backgrounddesign {
    width: 100%;
    height: 100vh;
    position: absolute;
    font-size: 20rem;
    font-weight: bolder;
    z-index: -1;
}

.backgrounddesign span{
    background: linear-gradient(90deg, goldenrod, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.backgrounddesign .toptext{
    position: absolute;
    top: 0px;
}

.backgrounddesign .middle{
    position: absolute;
    top: 0px;
    left: 50vw;
}

.backgrounddesign .bottomtext{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    height: 140px;
}

.brand img{
    width: 90px;
}

.navlinks{
    display: flex;
    gap: 50px;
    list-style: none;
}

.navlinks li a{
    color: orange;
}

.navlinks li a:visited{
    color: orangered;
}

.content {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0px 75px;
}

#content1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: orange;
}

#content1 h1{
    color: lightgoldenrodyellow;
    margin: 10px 0px 0px 0px;
}

#content1 h2{
    color: lightgoldenrodyellow;
    margin: 40px 0px 20px 0px;
}

#content1 h3{
    color: lightgoldenrodyellow;
    margin: 0px 0px 20px 0px;
}

#content1 img{
    width: 250px;
    margin: 20px 0px 0px 0px;
}

#content1 p{
    color: lightgoldenrodyellow;
    margin: 0px 0px 65px 0px;
}

.imganimation img{
    border: 5px solid lightgoldenrodyellow;
    transition: border 0.3s ease;
}

.flex-column {
    text-align: center;
    width: 25%; 
    margin: 0 50px;
}

#content2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#footer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: orange;
}

#content2{
    position: relative;
}

.title{
    margin-top: 3%;
}

.title h1{
    font-size: 50px;
}

.mostrecentimg{
    margin-top: 5%;
    padding: 10px;
    background-color: orange;
    transition: background-color 0.3s ease, rotate 0.3s ease, transform 0.3s ease;
}

.mostrecentimg img{
    height: 500px;
}

.text{
    width: 25%;
    margin: 0px 0px 0px 75px;
    text-align: left;
}

.text h1{
    font-size: 30px;
}

.text p{
    font-size: 20px;
}

.arrange{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}





