* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

#leaves {
    background: #833AB4;
    background: linear-gradient(120deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    width: 100%;
    height: 100vh;
    position: relative;
}

h1 {
    color: white;
    font-weight: normal;
    font-style: italic;
    font-size: 5vw;
    position: absolute;
    top: 10%;
    left: 40%;
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.purpleleaf{
    width: 200px;
    position: absolute;
    top: 10%;
    left: 5%;
    rotate: 10deg;
    animation: shake 2s 0s infinite alternate;
}

.purpleleaf:hover{
    animation: none;
}

.yellowleaf {
    width: 300px;
    position: absolute;
    bottom: 5%;
    left: 30%;
    rotate: -10deg;
    display: none;
}

.greenleaf {
    width: 200px;
    position: absolute;
    bottom: 25%;
    right: 5%;
    rotate: 15deg;
    display: none;
}

#flowers {
    background-color: rgb(35, 8, 38);
    width: 100%;
    height: 100vh;
    position: relative;
}

.rose{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 10%;
    left: 15%;
}

.rose2{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 15%;
    left: 15%;
    display: none; 
}

.rose3{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 10%;
    right: 15%;
    display: none; 
}

.daisy{
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 10%;
    right: 15%;
}

.daisy2 {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 10%;
    left: 15%;  
    display: none; 
}

h2{
    color: pink;
    font-size: 3vw;
    line-height: 1.5;
    font-style: italic;
    font-weight: normal;
}

.rosetext{
    width: 50%;
    position: absolute;
    bottom: 10%;
    right: 10%;
    display: none; 
}

.daisytext {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
    display: none; 
}

@keyframes shake {
    0% {
        rotate: 0;
    }
    25% {
        rotate: 5deg;
    }
    75% {
        rotate: -3deg;
    }
    100% {
        rotate: 3deg;
    }
}

/* HAMBURGER MENU */

.burger {
    position: fixed;
    top: 1%;
    right: 1%;
    color: white;
    z-index: 99999;
}

.burger:after{
    content: "\2630";
    font-size: 40px;
}

.burger:hover {
    cursor: pointer;
}

.nav {
    height: 100vh;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #833AB4;
    z-index: 88888;
    display: none;
}

.nav li {
    list-style-type: none;
    font-size: 3vw;
    font-style: italic;
    margin: 10%;

}

.nav li a {
    color: yellow;
    text-decoration: none;
}

.nav li a:hover {
    color: lightseagreen;
    text-decoration: underline;
}