*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

.center{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content{
    width: 100vh;
    height: 100vw;
    position: relative;
    transform-origin: left top;
    transform: rotateZ(-90deg) translateX(-100%);
    overflow: auto;
}

/* .nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    position: sticky;
    top: 0;
    left: 0;
}

.title{
    font-size: 16px;
    margin: 0px 20px;
} */

.page{
    width: 100vh;
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(97, 4, 4, 1) 60%, rgba(128, 0, 32, 1) 100%);
}

.page:nth-of-type(even){
    background: linear-gradient(180deg,rgba(128, 0, 32, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.page-content{
    transform: rotate(90deg);
    position: relative;
}

.center-text{
    text-align: center;
}

.flex {
    display: flex;
}

.stack-sans-headline {
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: "Stack Sans Headline", sans-serif;
    color: white;
}

h2 {
    font-family: "Stack Sans Headline", sans-serif;
    color: white;
}

p {
    font-family: "Stack Sans Headline", sans-serif;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image1 {
    position: absolute;
    bottom: -10%;
    right: 15%;
    width: 30%;
    transform: rotate(90deg);
}

.image2 {
    transform: rotate(90deg);
    height: 40%;
}

.image3 {
    transform: rotate(90deg);
    width: 40%;
    bottom: -120%;
    right: 10%;
    position: absolute;
}

.image4 {
    transform: rotate(90deg);
    width: 40%;
    position: absolute;
    bottom: -210%;
    left: 10%;
}

.image5 {
    width: 100%;
    margin: 0 auto;
}

.image6 {
    transform: rotate(90deg);  
}

.image7 {
    transform: rotate(90deg);
    position: absolute; 
    width: 50%;
}

.finalimage {
    transform: rotate(90deg);
    height: 90%;
}

.lastpage {
    background: #000000;
}
