* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.amarante-regular {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
}

.nova-flat-regular {
  font-family: "Nova Flat", system-ui;
  font-weight: 400;
  font-style: normal;
}

header h1 {
    font-size: 64px;
    color: #c1631b;
}

html {
    scroll-behavior: smooth;
}

header {
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

li {
    display: inline-block;
    color: black;
    padding: 5px;
    margin: 10px;
}

nav a {
    color: #5a4e82;
}

nav a:visited {
    color: #cf6564;
}

.leftborder {
    width: 10%;
    height: 100vh;
    background-size: contain;
    position: absolute;
    background-image: url(images/border_left.png);
    z-index: 10;
    overflow: hidden;
    left: 0;
}

.rightborder {
    width: 10%;
    height: 100vh;
    background-size: contain;
    position: absolute;
    background-image: url(images/border_right.png);
    z-index: 10;
    overflow: hidden;
    right: 0;
}

.greenleftborder {
    width: 10%;
    height: 100vh;
    background-size: contain;
    position: absolute;
    background-image: url(images/leftgreenborder.png);
    z-index: 10;
    overflow: hidden;
    left: 0;
}

.greenrightborder {
    width: 10%;
    height: 100vh;
    background-size: contain;
    position: absolute;
    background-image: url(images/rightgreenborder.png);
    z-index: 10;
    overflow: hidden;
    right: 0;
}

#section1 {
    background-color: #344338;
    width: 100%;
    height: 100vh;
    position: relative;
}

#section2 {
    background-color: #f6efe0;
    width: 100%;
    height: 100vh;
    position: relative;
}
